In [1]:
import pandas as pd

In [2]:

# Load the data
bank_test = pd.read_csv('submission_answer.csv')
# 目的変数の変数名
colunm_name = 'result'

In [3]:
bank_test.head()

    result
0     fail
1     fail
2  success
3     fail
4  success

In [7]:
# result 列のfailを0、successを1に変換
bank_test[colunm_name] = bank_test[colunm_name].map({'fail': 0, 'success': 1})

In [8]:
input_df = bank_test
input_df.head()

   result
0       0
1       0
2       1
3       0
4       1

In [4]:
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [9]:
score_acc = round(accuracy_score(bank_test[colunm_name], input_df[colunm_name])*100, 4)
score_rec = round(recall_score(bank_test[colunm_name], input_df[colunm_name])*100, 4)
score_pre = round(precision_score(bank_test[colunm_name], input_df[colunm_name])*100, 4)
score_f1 = round(f1_score(bank_test[colunm_name], input_df[colunm_name])*100, 4)
score_auc = round(roc_auc_score(bank_test[colunm_name], input_df[colunm_name])*100, 4)

In [10]:
name = 'test'

df_score = pd.DataFrame({'Name': [name],
                            'Accuracy': [score_acc],
                            'Recall': [score_rec],
                            'Precision': [score_pre],
                            'F1-score': [score_f1],
                            'AUC': [score_auc]})

print(df_score)

   Name  Accuracy  Recall  Precision  F1-score    AUC
0  test     100.0   100.0      100.0     100.0  100.0

In [11]:
ranking_df = pd.read_csv('ranking.csv')
ranking_df = ranking_df.sort_values('F1-score', ascending=False)
rank = ranking_df['F1-score'].argsort() + 1
ranking_df.insert(0, 'Rank', rank)
ranking_df = ranking_df.reset_index(drop=True)
print(ranking_df)

   Rank    Name  Group  Accuracy    Recall  Precision  F1-score       AUC
0     3       磯      1   100.000  100.0000   100.0000  100.0000  100.0000
1     2       礒      2    77.512   67.7215    71.3333   69.4805   75.5915
2     1  砂漠の支配者      3    76.555   67.0886    69.7368   68.3871   74.6981